<section id="landing" class="product xl">
    @if (Model.HasYoutubeVideo)
    {
        <video class="poster" poster="/product/@Model.Id/images/banner" data-src="/product/video/@Model.YoutubeKey" muted loop autoplay></video>
    }
    else
    {
        <img class="poster" src="/product/@Model.Id/images/banner" />
    }
    <div class="content">
        <h2 class="name">@Model.Name</h2>
        <a href="/profile/@Model.User.Id" class="author paragraph-1">@Model.User.Username</a>
        <p class="paragrph-1" id="short-summery">@Model.ShortSummery</p>
        <div class="buttons">
            @if (IsOwner)
            {
                @Html.ActionLink("PREVIEW", "Index", "Product", new{preview=true}, new{@class="btn"})
                @Html.ActionLink("EDIT", "Modify", "Product", new{id=Model.Id}, new{@class="btn secondary"})
            }
            else
            {
                @if (Model.Versions.Any())
                {
                    @if (Model.Price == 0)
                    {
                        @if(user == null){
                            Html.ActionLink("Login To Add to Library", "Login", "Auth", new { @ref = this.Path }, new { @class = "btn" });
                        }else{
                            <div class="btn secondary" onclick="AddToLibrary()" id="add-to-library-button"><i class="fa fa-plus"></i> Add to Library</div>
                        }
                    }
                    else
                    {
                        if(Model.Subscription){
                            if(user == null){
                                Html.ActionLink($"Login To Subscibe - {(Model.Price / (float)100).ToString("C", CultureInfo.CurrentCulture)}/month", "Login", "Auth", new { @ref = this.Path }, new { @class = "btn" });
                            }else{
                                <div class="btn" onclick="new PurchasePopup('@Model.Id', false).open()">Subscribe - @((Model.Price / (float)100).ToString("C", CultureInfo.CurrentCulture))/month</div>
                            }
                        }else{

                            if(user == null){
                                Html.ActionLink($"Login To Purchase - {(Model.Price / (float)100).ToString("C", CultureInfo.CurrentCulture)}", "Login", "Auth", new { @ref = this.Path }, new { @class = "btn" });
                            }else{
                                <div class="btn" onclick="new PurchasePopup('@Model.Id', false).open()">BUY - @((Model.Price / (float)100).ToString("C", CultureInfo.CurrentCulture))</div>
                            }
                        }
                    }
                }
                @if (Model.HasYoutubeVideo)
                {
                    <div class="btn secondary" onclick=" new VideoPopup(`@Model.YoutubeKey`).open()">Watch Trailer</div>
                }
            }
        </div>
        @if (Model.Platforms != null)
        {
            <span class="platforms">
                @foreach (var platform in Model.Platforms)
                {
                    switch (platform)
                    {
                        case OpenDSM.SQL.Platform.Windows:
                            <i class="fab fa-windows" title="Windows"></i>
                            break;
                        case OpenDSM.SQL.Platform.WindowsARM:
                            <i class="fab fa-windows" title="Windows ARM"></i>
                            break;
                        case OpenDSM.SQL.Platform.Mac:
                            <i class="fab fa-apple" title="Mac"></i>
                            break;
                        case OpenDSM.SQL.Platform.MacARM:
                            <i class="fab fa-apple" title="Mac ARM / Apple Silicon"></i>
                            break;
                        case OpenDSM.SQL.Platform.Linux:
                            <i class="fab fa-linux" title="Linux"></i>
                            break;
                        case OpenDSM.SQL.Platform.LinuxARM:
                            <i class="fab fa-linux" title="Linux ARM"></i>
                            break;
                        case OpenDSM.SQL.Platform.Java:
                            <i class="fa-brands fa-java" title="Java"></i>
                            break;
                        case OpenDSM.SQL.Platform.Android:
                            <i class="fa-brands fa-android" title="Java"></i>
                            break;
                    }
                }
            </span>
        }
    </div>
</section>
<div class="list vertical content raised centered">
    <section id="gallery-carousel" class="carousel">
        <h3>Gallery</h3>
        <div class="navigation">
            <div class="carousel-nav-item fas fa-chevron-left"></div>
            <div class="carousel-nav-item fas fa-chevron-right"></div>
        </div>
        <div class="list horizontal">
            <div class="gallery-image" style="background-image: url('/product/@Model.Id/images/icon');" onclick=" new GalleryPopup(this).open()">
                <p class="name">Icon</p>
            </div>
            <div class="gallery-image" style="background-image: url('/product/@Model.Id/images/banner');" onclick=" new GalleryPopup(this).open()">
                <p class="name">Banner</p>
            </div>
            @if (Model.GalleryImages.Any())
            {
                foreach (string item in Model.GalleryImages)
                {
                    FileInfo info = new FileInfo(item);
                    string filename = info.Name.Replace(info.Extension, "");
                    <div class="gallery-image" style="background-image: url('/product/@Model.Id/images/gallery/@filename');" onclick=" new GalleryPopup(this).open()">
                        <p class="name">@filename</p>
                    </div>
                }
            }
        </div>
    </section>
    <section id="product-page-overview" class="markdown" style="display:none">@Model.About</section>
    @if (Model.Versions.Any() || IsOwner)
    {
        <section id="versions"></section>
        <section id="reviews" class="reviews"></section>
    }

</div>
@if (IsPreview)
{
    @Html.ActionLink("PREVIEW", "Index", "Product", new{}, new{id="preview-label", title="Exit Preview"})
}

<script src="js/product-page.js"></script>