@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: hsl(151, 100%, 50%);
    --secondary: hsl(0, 0%, 100%);
    --background: hsl(240, 13%, 6%);
    --glow: 0 0 20px 0px var(--primary);
}

/*#region Elements */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--secondary);
    margin: 0;
    overflow: overlay;
    scroll-behavior: smooth;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--background);
    background: var(--primary);
    opacity: 1;
}

::selection {
    color: var(--background);
    background: var(--primary);
    opacity: 1;
    font-weight: bolder;
}

main {
    min-height: 100vh;
    padding-bottom: 100px;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
}

    footer > * {
        padding-left: 2rem;
    }

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 3.75rem;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

p {
    margin: 0;
}

    p.paragraph-1 {
        font-size: 1.125rem;
        font-weight: 300;
    }

    p.paragraph-2 {
        font-size: 1rem;
        font-weight: 300;
    }

    p.paragraph-3 {
        font-size: 0.875rem;
        font-weight: 300;
    }

    p.paragraph-4 {
        font-size: 0.75rem;
        font-weight: 300;
    }

.ad {
    background-color: #aaa;
    position: relative;
    min-width: 100px;
    max-width: 700px;
    min-height: 100px;
    max-height: 700px;
    width: 100%;
}

    .ad:after {
        content: 'ad';
        position: absolute;
        right: 1rem;
    }

a {
    text-decoration: underline;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
}

.btn {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--background);
    background-color: var(--primary);
    padding: .75rem 2rem;
    margin: 1rem;
    font-size: 1rem;
    transition: box-shadow 300ms, background 300ms;
}

    .btn:disabled {
        filter: brightness(.5);
    }

    .btn:not(:disabled):hover {
        cursor: pointer;
        box-shadow: var(--glow);
    }

    .btn.secondary {
        background-color: transparent;
        color: var(--secondary);
        outline: 1px solid var(--secondary);
    }

        .btn.secondary:hover {
            background-color: var(--secondary);
            color: var(--background);
            box-shadow: none;
        }

    .btn i {
        margin-right: 10px;
    }

toggle {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    margin: .5rem 0;
    opacity: .5;
    transition: opacity 300ms;
}

    toggle::before {
        content: '';
        position: absolute;
        height: 1rem;
        aspect-ratio: 2/1;
        outline: 2px solid var(--primary);
        left: 0;
        border-radius: 200px;
    }

    toggle::after {
        content: '';
        position: absolute;
        height: .9rem;
        top: .05rem;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: var(--primary);
        transition: left 200ms;
    }

    toggle[value="true"], toggle:hover {
        opacity: 1;
    }

        toggle[value="true"]::after {
            left: 1rem;
        }

    toggle[value="false"]::after, toggle::after {
        left: 1px;
    }

input {
    display: flex;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
}

    input::placeholder {
        color: var(--secondary);
        opacity: .5;
    }

.input, input, textarea {
    background-color: black !important;
    outline: none;
    border: none;
    color: var(--secondary) !important;
    appearance: none !important;
    min-height: 3rem;
    max-height: 3rem;
    overflow: hidden;
    transition: box-shadow 200ms;
}

    .input.icon {
        height: 3rem;
    }

textarea {
    min-width: calc(100% - 2rem);
    max-width: 0px;
    max-height: 300px;
    min-height: 100px;
    padding: 0;
    overflow-y: scroll;
    padding: 1rem;
}

    textarea:disabled {
        filter: brightness(0.5);
        overflow-y: hidden;
    }

#about-section {
    height: 200px;
    margin-bottom: 6rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input:hover {
    box-shadow: var(--glow);
    outline: 1px solid var(--primary);
    cursor: pointer;
}

.input {
    outline: 1px solid transparent;
    display: flex;
    width: 100%;
    margin: 1rem 0;
    transition: outline 300ms;
}

    .input label {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--primary);
        color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin-right: 1rem;
        text-align: center;
    }

    .input:not(.icon) label {
        width: 10%;
        min-width: 150px;
        max-width: 150px;
    }

.error {
    font-weight: 700 !important;
    color: red;
    font-style: italic;
    text-decoration: underline;
}

.form {
    margin-top: 200px;
    width: 55%;
    min-width: 500px;
    max-width: 1000px;
}

.profile-image {
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    min-width: 50px;
    aspect-ratio: 1/1;
    background-color: black;
}

.file-upload {
    aspect-ratio: 1/1;
    width: 200px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: background 400ms, border 400ms, border-radius 400ms;
    margin: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .file-upload:hover {
        cursor: pointer;
        background-color: var(--background);
        border-radius: 20px;
        border: 1px solid var(--primary);
    }

    .file-upload .content {
        aspect-ratio: 1/1;
        width: 50%;
        background-color: var(--background);
        color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        transition: background 400ms, color 400ms, border-radius 400ms;
    }

    .file-upload:hover .content {
        background-color: var(--primary);
        color: var(--background);
        border-radius: 20px;
    }

.file-upload-title {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.input.dropdown {
    overflow: visible;
}

.dropdown {
    position: relative;
}

    .dropdown input {
        cursor: pointer;
    }

    .dropdown .dropdown-body {
        position: absolute;
        background-color: black;
        width: 89%;
        right: 0;
        margin-top: 60px;
        z-index: 1;
        max-height: 200px;
        overflow-y: auto;
        display: none;
        outline: 1px solid var(--primary);
    }

.input.dropdown.active .dropdown-body {
    display: unset;
}

.dropdown .dropdown-body .dropdown-item:hover, .dropdown .dropdown-body .dropdown-item.selected {
    background-color: var(--primary);
    color: var(--background);
}

.dropdown .dropdown-body .dropdown-item {
    padding: 1rem;
}

#preview-label {
    font-size: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    right: 1rem;
    color: white;
    opacity: .5;
    font-weight: 900;
    z-index: 8;
    transition: color 200ms, opacity 200ms;
}

    #preview-label:hover {
        opacity: 1;
        color: var(--primary)
    }

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px);
    }

    10% {
        transform: translate(-1px);
    }

    20% {
        transform: translate(-3px);
    }

    30% {
        transform: translate(3px);
    }

    40% {
        transform: translate(1px);
    }

    50% {
        transform: translate(-1px);
    }

    60% {
        transform: translate(-3px);
    }

    70% {
        transform: translate(3px);
    }

    80% {
        transform: translate(-1px);
    }

    90% {
        transform: translate(1px);
    }

    100% {
        transform: translate(1px);
    }
}
/*#endregion Elements */

/*#region DSMPlayer */
dsmplayer {
    position: relative;
    display: flex;
    max-height: inherit;
    overflow: hidden;
    justify-content: center;
    background-color: black;
}

    dsmplayer video {
        width: 100%;
        cursor: pointer;
    }

    dsmplayer .controls {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 50px;
    }

    dsmplayer .timeline {
        position: relative;
        min-height: 8px;
        height: 8px;
        max-height: 8px;
    }

        dsmplayer .timeline .fill {
            background-color: var(--primary);
            width: 100%;
            max-width: 0%;
            height: 100%;
            box-shadow: var(--glow);
            transition: max-width 300ms;
        }

    dsmplayer .buttons .primary-buttons {
        width: 100%;
    }

    dsmplayer .buttons {
        height: 100%;
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.player-button {
    aspect-ratio: 1/1;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 300ms, color 300ms;
}

    .player-button:hover {
        color: var(--background);
        background-color: var(--primary);
    }

/*#endregion DSMPlayer */

/*#region Navigation */
nav {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: calc(100% - 4rem);
    height: 4rem;
    background-color: transparent;
    margin: 2rem;
    margin-top: 45px;
    overflow: hidden;
    top: 0;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
    cursor: pointer;
}

    .brand img {
        aspect-ratio: 1/1;
        height: 4rem;
    }

nav #nav-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

div#hamburger-menu-item {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 100%;
    transition: color 200ms, background 200ms;
}
div#hamburger-menu-item:hover {
    background: var(--primary);
    color: var(--background);
    cursor: pointer;
}
/*#endregion Navigation */

/*#region Layout */

main > .content.raised {
    transform: translateY(-25vh);
}

.separator {
    background-color: var(--secondary);
    margin: 1rem;
}

    .separator.vertical {
        min-height: 75%;
        min-width: 1px;
    }

    .separator.horizontal {
        min-width: 75%;
        min-height: 1px;
    }

.centered {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.no-select, toggle, .btn, img, .brand {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

.list {
    display: flex;
}

    .list.grid {
        flex-wrap: wrap;
    }

    .list.horizontal {
        flex-direction: row;
    }

    .list.vertical {
        flex-direction: column;
    }

section#landing {
    margin: 0;
}

section:not(#landing) {
    margin: 1rem auto;
    width: 90%;
}

.progress-bar {
    background-color: black;
    width: 100%;
    height: 10px;
    border-radius: 100px;
}

    .progress-bar .fill {
        border-radius: 100px;
        height: 100%;
        width: 50%;
        background-color: var(--primary);
    }

#tos {
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
}

.markdown img {
    max-width: 90%;
}

.upload-task {
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
}

    .upload-task i {
        width: 35px;
        margin: 2rem;
        color: var(--primary);
    }

#upload-tasks {
    width: 100%;
}
/*#endregion Layout */

/*#region Ratings and Reviews */
#leave-review-form {
    position: relative;
}

    #leave-review-form.ineligible:after {
        content: 'Unable to leave a review!';
        opacity: 0;
        z-index: 10;
        position: absolute;
        transition: opacity 500ms;
        font-size: 4rem;
        text-align: center;
        color: var(--primary);
        display: flex;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
    }

    #leave-review-form.ineligible:before {
        content: '';
        opacity: 0;
        z-index: 9;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(0 0 0 / 0.95);
        transition: opacity 300ms;
    }

    #leave-review-form.ineligible:hover:before, #leave-review-form.ineligible:hover:after {
        opacity: 1;
        cursor: pointer;
    }

.reviews > .list.vertical {
    margin: 2rem 0;
}

.reviews .rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .bars {
    width: 70%;
    margin: 0 auto;
}

.ratings-bar {
    display: flex;
    align-items: center;
    transition: transform 200ms;
}

    .ratings-bar:hover {
        transform: scale(1.01);
        cursor: pointer;
    }

.reviews .bars p {
    margin: 1rem;
}

.stars-input {
    margin: 2rem 0;
}

    .stars-input div {
        margin: 1rem 0;
    }

.star-input {
    height: 50px;
    width: 50px;
    font-size: 35px;
    transition: transform 200ms;
    cursor: pointer;
}

    .star-input.active {
        color: var(--primary);
        transform: scale(1.09);
    }

    .star-input.kick {
        transform: translateY(-10px);
    }
/*#region Testimonial */
.testimonials {
    margin-top: 5rem;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    padding: 2rem;
}

.testimonial {
    margin: 2rem 0;
}

    .testimonial .profile-image {
        width: 70px;
        margin-right: 15px;
    }

    .testimonial .profile-info {
        display: flex;
        align-items: center;
    }

    .testimonial .testimonial-details {
        width: 100%;
        margin: 1rem 0;
    }

        .testimonial .testimonial-details .title {
            font-weight: 200;
            width: 100px;
        }

        .testimonial .testimonial-details .value {
            width: 100%;
            font-weight: 500;
        }

    .testimonial .testimonial-description {
        height: 150px;
        min-height: 150px;
        max-height: 150px;
        overflow-y: auto;
    }

    .testimonial .reply-button {
        width: 200px;
        margin-left: 0;
    }

/*#endregion Testimonial */

/*#endregion Ratings and Reviews */

/*#region Versions */

.versions-list {
    width: 100%;
    margin-top: 4rem;
    max-height: 70vh;
    min-height: 70vh;
    padding-right: 2rem;
    overflow-y: scroll;
}

.version-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondary);
}

    .version-item > .list.horizontal > .list.vertical:first-child {
        width: 100%;
    }

    .version-item .name {
        margin-bottom: 1rem;
    }

    .version-item p[release-type] {
        position: relative;
        margin-left: 35px;
        margin-bottom: 1rem;
    }

        .version-item p[release-type]::after {
            content: '';
            position: absolute;
            left: -35px;
            border-radius: 100%;
            aspect-ratio: 1/1;
            width: 1.5rem;
            background-color: blue;
        }

    .version-item p[release-type="release"]::after {
        background-color: var(--primary);
    }

    .version-item p[release-type="beta"]::after {
        background-color: #0DA8FF;
    }

    .version-item p[release-type="alpha"]::after {
        background-color: #FFBB0D;
    }

    .version-item .platforms {
        font-size: 2rem;
    }

        .version-item .platforms i {
            margin: .5rem;
        }

            .version-item .platforms i:hover {
                cursor: pointer;
                color: var(--primary);
            }
/*#endregion Versions */

/*#region Products */
/*#region Product Page*/
#short-summery {
    margin: 1rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*#endregion Product Page*/
/*#region General */

.product {
    display: flex;
    flex-direction: column;
    color: var(--background);
    background-color: var(--secondary);
    position: relative;
    transition: transform 300ms;
}

    .product:not(.xl):hover {
        transform: scale(1.05);
    }

    .product.paid::after {
        content: '$';
        position: absolute;
        right: 10px;
        top: 10px;
        font-weight: 900;
        background-color: var(--primary);
        width: 2rem;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }

    .product .buttons {
        display: flex;
    }

        .product .buttons .btn {
            margin-left: 0;
        }

    .product p {
        opacity: .75;
    }

    .product:not(.xl) .author {
        color: var(--background);
    }

    .product .name {
        margin: 0;
    }

    .product .description {
        margin: 1rem 0;
    }

    .product .name, .product img {
        cursor: pointer;
    }

    .product .platforms {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .product .price {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 1rem;
        color: var(--secondary);
        background-color: rgba(0, 0, 0, .5);
    }

    /*#endregion General */

    /*#region XL */
    .product.xl {
        z-index: 0;
        height: 100vh;
        min-height: 900px;
        width: 100%;
        background-color: transparent;
    }

        .product.xl > *:not(.poster) {
            z-index: 1;
            display: flex;
            height: 500px;
            width: 50%;
            max-width: 500px;
            margin-left: 2rem;
            color: var(--secondary);
            margin-top: 8rem;
            flex-direction: column;
            justify-content: center;
        }

    .product .content {
        margin: 1rem;
    }

    .product.xl::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, var(--background), transparent) rgba(0, 0, 0, .5);
    }

    .product.xl::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, var(--background), transparent);
    }

    .product.xl .poster {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100vh;
        overflow: hidden;
        object-fit: cover;
    }

    .product.xl .platforms {
        display: flex;
        font-size: 3rem;
        width: 100%;
    }

        .product.xl .platforms i {
            margin: 0 1rem;
        }

    /*#endregion XL */

    /*#region LG */

    /*#endregion LG */

    /*#region MD */
    .product.md {
        flex-direction: row;
        align-items: center;
        width: 600px;
        height: 200px;
    }

    /*#endregion MD */

    /*#region SM */

    .product.sm {
        flex-direction: row;
        align-items: center;
        width: 375px;
        height: 125px;
    }

        .product.sm .description, .product.sm .platforms {
            display: none;
        }

    /*#endregion SM */

    .product.lg,
    .product.md,
    .product.sm {
        margin: 1rem;
    }

    .product.lg {
        width: 500px;
    }

    .product.md img, .product.sm img {
        height: 100%;
        aspect-ratio: 1/1;
    }

/*#endregion Products */

/*#region Carousel */
.carousel {
    position: relative;
    margin: 1rem;
}

    .carousel .navigation {
        position: absolute;
        display: flex;
        top: 50%;
        z-index: 1;
        width: 100%;
    }

        .carousel .navigation .carousel-nav-item {
            position: absolute;
            background-color: var(--secondary);
            color: var(--background);
            padding: 1rem;
            aspect-ratio: 1/1;
            width: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            cursor: pointer;
            box-shadow: 0 0 20px 5px black;
            transition: background-color 300ms;
        }

            .carousel .navigation .carousel-nav-item.fa-chevron-left {
                left: 0;
            }

            .carousel .navigation .carousel-nav-item.fa-chevron-right {
                right: 0;
            }

            .carousel .navigation .carousel-nav-item:hover {
                background-color: var(--primary);
            }

    .carousel .list.horizontal {
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

        .carousel .list.horizontal::-webkit-scrollbar-track {
            display: none;
        }

        .carousel .list.horizontal::-webkit-scrollbar-thumb {
            display: none;
        }

.gallery-image {
    position: relative;
    height: 300px;
    aspect-ratio: 16/9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 1rem;
}

    .gallery-image .name {
        position: absolute;
        height: 100%;
        bottom: -2px;
        padding-bottom: 1rem;
        width: 100%;
        background: linear-gradient(transparent, black);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        opacity: 0;
        transition: opacity 500ms;
    }

    .gallery-image:hover .name {
        opacity: 1;
        cursor: pointer;
    }

/*#endregion Carousel */

/*#region Popup */

#popup-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

body.popup-active {
    overflow: hidden;
}

#popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9;
    transform: translateY(-100vh);
    transition: transform 500ms;
}

#popup-content {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

#popup-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

#popup #popup-content > .content {
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
}

#popup .title {
    z-index: 999;
    position: absolute;
    height: 72px;
    display: flex;
    align-items: center;
    right: 0;
    padding-top: 30px;
}

    #popup .title #popup-close-btn {
        position: absolute;
        right: 1rem;
        color: var(--primary);
        border: 2px solid var(--primary);
        background-color: var(--background);
        aspect-ratio: 1/1;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 1rem;
        cursor: pointer;
        transition: background 300ms, color 300ms;
    }

        #popup .title #popup-close-btn:hover {
            background-color: var(--primary);
            color: var(--background);
        }

    #popup .title .name {
        color: var(--background);
        width: 100%;
        text-transform: capitalize;
        text-align: center;
    }

#popup.active {
    transform: translateY(0vh);
    opacity: 1;
}

/*#endregion Popup */

/*#region Search */
.search {
    width: 95%;
    min-height: 600px;
    max-height: 600px;
}

.search-view {
    width: 100%;
    max-height: 100%;
}

.search-result {
    min-width: 100%;
    max-height: 400px;
    min-height: 100%;
    overflow-y: scroll;
}

.search-categories {
    width: 25%;
    padding: 0 2rem;
    margin: 0 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#search-category-page {
    min-height: 500px;
    display: flex;
    margin-top: 8rem;
    margin-bottom: 8rem;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.search-category {
    position: relative;
    aspect-ratio: 9/16;
    width: 33%;
    min-width: 300px;
    margin: 2rem;
    background: black;
    background-position-x: 0%;
    background-position-y: 0%;
    background-image: none;
    background-size: auto;
    background-size: cover;
    background-position: center;
    transition: transform 500ms, filter 500ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
    text-decoration: none;
    max-width: 476px;
}

    .search-category > * {
        z-index: 2;
    }

    .search-category i {
        font-size: 200px;
        transition: transform 500ms;
    }

    .search-category p {
        font-size: 3rem;
        transform: translateY(200px);
        text-decoration: none;
        opacity: 0;
        transition: opacity 500ms, transform 500ms;
    }

    .search-category img {
        z-index: 1;
        position: absolute;
        width: 110%;
        height: 110%;
        transition: filter 500ms;
    }

    .search-category:hover img {
        filter: blur(5px) brightness(.5);
    }

    .search-category:hover i {
        transform: translateY(-80px) !important;
    }

    .search-category:hover p {
        opacity: 1;
        transform: translateY(-30px);
    }

.search-item {
    width: 70vw;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    transition: transform 200ms;
    text-decoration:none;
    color:white;
}

    .search-item > * {
        z-index: 2;
    }

.search-item-icon {
    height: 50%;
    aspect-ratio: 1/1;
    background-size: contain;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 2rem;
}

.search-item img.search-item-bg {
    position: absolute;
    z-index: 1;
    min-width: 115%;
    min-height: 115%;
    filter: blur(5px) brightness(.25) contrast(1.2);
    transform: translate(-10px, -10px);
    transition: filter 200ms;
}

.search-item:hover img.search-item-bg {
    filter: blur(5px) brightness(.5) contrast(1.0);
    cursor: pointer;
}
.search-item .platforms{
    font-size: 2rem;
}
.search-item:hover {
    transform: scale(1.02);
}
/*#endregion Search */
/*#region Profile Page */
#landing.profile {
    position: relative;
    min-height: 440px;
    max-height: 440px;
    z-index: 0;
    width: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}

    #landing.profile::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: -1;
    }

    #landing.profile .content {
        margin: 1rem;
        position: absolute;
        bottom: -50px;
    }

    #landing.profile .profile-image {
        height: 330px;
        margin-right: 2rem;
    }

/*#endregion Profile Page */

/*#region Scrollbar */
* {
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    background: var(--primary);
    border-radius: 180px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*#endregion Scrollbar */

/*#region Cropper */

.image-container {
    max-height: calc(100% - 75px);
    min-height: calc(100% - 75px);
    overflow: hidden;
}

    .image-container.rounded .cropper-crop-box, .image-container.rounded .cropper-view-box {
        border-radius: 50%;
    }

.cropper-view-box {
    box-shadow: 0 0 0 1px var(--primary) !important;
    outline-color: var(--primary) !important;
}

.cropper-point, .cropper-line {
    background-color: var(--primary) !important;
}

/*#endregion Cropper */

/*#region Throbber*/
.fullscreen-view {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background);
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    transition: opacity 500ms;
}

    .fullscreen-view.load {
        opacity: 1;
    }

    .fullscreen-view.unload {
        opacity: 0;
    }

.throbber {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 100%;
    border-left: 1px solid var(--primary);
    animation-name: Throbber;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 2rem;
}

@keyframes Throbber {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*#endregion Throbber*/

/*#region Youtube Video Browser*/
.yt-vid {
    width: 300px;
    overflow: hidden;
    outline: 1px solid var(--primary);
    padding: 1rem;
    margin: 1rem;
    background: transparent;
    color: white;
    transition: background 200ms, color 200ms;
}

    .yt-vid:hover {
        background: var(--primary);
    }

        .yt-vid:hover .list.vertical {
            cursor: pointer;
            color: var(--background);
            font-weight: 900;
        }

        .yt-vid:hover .btn {
            background: var(--background);
            color: white;
        }

    .yt-vid img {
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .yt-vid .btn {
        margin-left: 0;
        margin-bottom: 0;
    }

#yt-videos {
    flex-wrap: wrap;
    justify-content: center;
    align-self: start;
}
/*#endregion Youtube Video Browser*/
