<section id="landing" class="profile profile-banner">
    <span class="content">
        <span class="list horizontal centered">
            <div class="profile-image large"></div>
            <h1 class="name profile-name"></h1>
        </span>
    </span>
</section>

@if (is_personal)
{
<section class="ad"></section>
<section>
    <h2>Settings</h2>
    <div class="list vertical">
        <div class="list horizontal">
            <div class="list vertical" style="width: 300px;min-width: 300px;">
                <h4>Profile Image</h4>
                <div id="upload-profile-image profile-name" class="file-upload">
                    <div class="content">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
                <h4>Banner Image</h4>
                <div id="upload-profile-banner profile-banner" class="file-upload">
                    <div class="content">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="list vertical" style="width: 100%;">
                <div class="input" title="Your Username">
                    <label for="username-box">Username</label>
                    <input type="text" id="username-box" autocomplete="false" placeholder="@Model.Username" setting="username">
                </div>
                <div class="large-input list vertical" id="about-section">
                    <h4 for="about-box">About</h4>
                    <p class="paragraph-2">This is using markdown language. For more information view our <a href="#">profile docs</a></p>
                    <textarea type="text" id="about-box" autocomplete="false" setting="about">@Model.About</textarea>
                    @if (Model.IsDeveloperAccount && Model.HasReadme)
                    {
                    <toggle id="use-git-about" value="@Model.UseGitReadme.ToString().ToLower()" setting="use_git_readme">Use GitHub About?</toggle>
                    }
                </div>
                <button class="btn" id="save-profile-btn" disabled>Save</button>
            </div>
        </div>
        <div class="list horizontal centered" style="width: 100%; justify-content: center;">
            @if (Model.IsDeveloperAccount)
            {
            <a href="/product/create/" class="btn" style="width: 20%;">Create Product</a>
            }
            else
            {
            <div class="btn" onclick="new ActivateDeveloperAccountPopup().open()" style="width: 20%;">Activate Developer Account</div>
            }
            <div class="btn secondary" style="width: 20%;" id="logout-btn">Logout</div>
        </div>
    </div>
</section>
@if (Model.CreatedProducts.Any())
{
<section style="margin: 12rem auto;">
    <h2>Analytics</h2>
    <div class="list vertical">
        <div class="list vertical">
            <h3>Held Balance</h3>
            <h4>$4,587.67</h4>
            <button class="btn" style="width: 300px;">Transfer</button>
        </div>
        <div class="centered list horizontal">
            <i class="fa-solid fa-up-long" style="font-size: 12rem;"></i>
            <div class="list vertical" style="margin-right: 100px;">
                <h1>250K<br />Downloads</h1>
                <h4>Up 12%</h4>
                <p class="paragraph-2">Values are calculated Monthly<br />View our documentation on <a href="/docs/analytics">analytics</a></p>
            </div>
            <img src="images/Chart.svg" style="width: 100%; height: 659px;">
        </div>
        <div class="centered list horizontal">
            <i class="fa-solid fa-down-long" style="font-size: 12rem;"></i>
            <div class="list vertical" style="margin-right: 100px;">
                <h1>$1.5K<br />Revenue</h1>
                <h4>Down 12%</h4>
                <p class="paragraph-2">Values are calculated Monthly<br />View our documentation on <a href="/docs/analytics">analytics</a></p>
            </div>
            <img src="images/Chart.svg" style="width: 100%; height: 659px;transform: scaleX(-1)">
        </div>
    </div>
</section>
}
}

<section>
    <div id="about-rendering" class="paragraph-1 markdown">
    </div>
</section>
@if (Model.CreatedProducts.Any())
{
<section class="ad"></section>
<section id="popular-products" class="carousel">
    <h3>Latest</h3>
    <div class="navigation">
        <div class="carousel-nav-item fas fa-chevron-left"></div>
        <div class="carousel-nav-item fas fa-chevron-right"></div>
    </div>
    <div class="list horizontal">
        @foreach (int product_id in Model.CreatedProducts)
        {
        if (ProductModel.TryGetByID(product_id, out ProductModel? product))
        {
        @Html.PartialAsync("Elements/LargeProductItem", product).Result
        }
        }
    </div>
</section>
}


@if (is_personal)
{
<script src="lib/CropperJS/cropper.min.js"></script>
<script src="lib/CropperJS/jquery-cropper.min.js"></script>
}
<!-- <script src="lib/showdown.min.js"></script> -->
<script>
    window.showdown = require('../lib/showdown.min.js');
</script>
<script src="js/profile.js"></script>
