<nav>
    <action class="brand" controller="home" name="index">
        <img src="images/icons/logo.svg" alt="">
        <h4>OpenDSM</h4>
    </action>
    <div id="nav-items">
        <div id="hamburger-menu-item" class="fas fa-bars" onclick="new CenteredPopup('menu').open()"></div>
        <!-- <action controller="home" name="index" class="btn secondary">Home</action>
        <action controller="search" name="index" class="btn secondary">Search</action>
        <span class="separator vertical"></span> -->
        
        <!-- <a href="html/index.html" class="btn secondary">Signup</a>
        <a href="html/index.html" class="btn">Login</a> -->
        <!-- @if (isLoggedIn)
        {
                <a href="/profile/" class="profile-image" style="background-image: url('/api/auth/image/profile?id=@user.Id');"></a>
        }
        else
        {
            @if (ViewData["ref"] != null)
            {
                @Html.ActionLink("Sign Up", "Signup", "Auth", new {@ref=ViewData["ref"]}, new{@class="btn secondary"})
                @Html.ActionLink("Login", "Login", "Auth", new {@ref=ViewData["ref"]}, new{@class="btn"})
            }else{
                @Html.ActionLink("Sign Up", "Signup", "Auth", new {}, new{@class="btn secondary"})
                @Html.ActionLink("Login", "Login", "Auth", new {}, new{@class="btn"})
            }
        } -->
    </div>
</nav>